<?xml version="1.0" encoding="utf-8"?><Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><SettingsVersion>1.00</SettingsVersion><ShouldLoadCredentials>true</ShouldLoadCredentials><Username>ekerckhove</Username><Password>AjRSs8HZ</Password><RememberConverterSettings>true</RememberConverterSettings><OutputToHtml>false</OutputToHtml><UseContentScanner>true</UseContentScanner><ConverterOptions><FirstImageIsAlignedRight>true</FirstImageIsAlignedRight><ReplaceImageWithAltWithCaption>true</ReplaceImageWithAltWithCaption></ConverterOptions></Settings>